@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.block__button, .header__button {
  margin-right: 0;
  cursor: pointer;
  padding: 11px 22px;
  background: #FD695A;
  border-radius: 50px;
  border: 0;
  font-family: "Mulish", sans-serif;
  color: white;
}

i::before {
  content: "☰";
  font-size: 40px;
}

section {
  width: 95%;
  max-width: 1200px;
}

.popup {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #1b1a1a;
}
.header__logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}
.header__el {
  max-width: 100px;
  cursor: pointer;
}
.header__el:hover {
  text-decoration: underline;
}
.menu {
  margin: 0;
  max-width: 800px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamb-filed {
  display: none;
}

.section {
  margin-top: 50px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section__img {
  width: 600px;
}

#thinker {
  margin-bottom: 10px;
}

.modal-open {
  width: 70%;
  margin: 100px auto;
  padding: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.modal-open__img {
  width: 100%;
}

.modal-open__descr {
  font-size: 20px;
  text-align: justify;
  margin-top: 25px;
}

#open-modal__btn {
  cursor: pointer;
  display: block;
  margin: 25px auto;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  padding: 15px 35px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_active {
  display: block;
}

.modal__content {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  -webkit-box-shadow: 1px 1px 10px #777777;
          box-shadow: 1px 1px 10px #777777;
  padding: 35px;
  background-color: #fff;
  position: relative;
  -webkit-animation-name: anima;
          animation-name: anima;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  border-radius: 15px;
}

.modal__close,
.modal__closeBtn {
  font-size: 40px;
  color: #777777;
  cursor: pointer;
  float: right;
}

@-webkit-keyframes anima {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes anima {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.block {
  margin-left: 0;
  margin-right: 0;
  max-width: 600px;
}
.block__img {
  width: 600px;
}
.block__text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  color: #3D3D3F;
  opacity: 0.75;
  margin-bottom: 30px;
}
.block__buttons {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 30px;
  vertical-align: middle;
  margin-left: 0;
}
.block__button {
  padding: 12px 20px;
  margin-left: 0;
}
.block__btn-img {
  max-width: 50px;
  margin-left: 40px;
  margin-right: 0px;
}
.block__video {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: wheat;
  margin-left: 0;
}
.block__video:visited {
  color: #FD695A;
}
.block__video:hover {
  text-decoration: underline;
}
.block__header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 30px;
  color: #3D3D3F;
}
.block__orange {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FD695A;
}
.block__client-text {
  margin-left: 0;
  max-width: 450px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #757575;
}

.services {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.services__header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #37383D;
}
.services__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 26px;
  color: #747474;
}
.services__footer {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #3D3D3F;
  text-decoration-line: underline;
}
.services__subblock {
  max-width: 220px;
  margin: 0px 10px;
  cursor: pointer;
}

.client {
  margin-left: 0px;
  margin-bottom: 30px;
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.client__img {
  margin-right: 15px;
}
.client__text {
  padding-top: 15px;
  margin: 0;
  line-height: 0;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3D3D3F;
}
.client__subtext {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  opacity: 0.6;
}

.footer {
  margin-bottom: 10px;
}
.footer__rect {
  width: 100%;
  height: 2px;
  background: #757575;
  opacity: 0.2;
}
.footer__text {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__l {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  margin-right: 30px;
}
.footer__l__r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #150A29;
}

@media (max-width: 1280px) {
  .section__img {
    height: 30vw;
    width: auto;
  }
  .block__img {
    width: 48vw;
  }
  .services__block {
    scale: 1;
  }
  .services__text {
    display: none;
  }
}
@media (max-width: 900px) {
  .header__el {
    font-size: clamp(10px, 1.7vw, 20px);
  }
  .header :nth-child(2) {
    margin-left: 5vw;
  }
  .header :nth-child(5) {
    margin-right: 5vw;
  }
}
@media (max-width: 767px) {
  .header {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 200;
  }
  .header__el {
    font-size: 30px;
  }
  .header__button {
    font-size: 30px;
  }
  .header__nav .menu {
    display: none;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section__img {
    height: 55vw;
  }
  .hamb-filed {
    margin: 0 auto;
    padding: 0;
    margin-right: 0;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    cursor: pointer;
  }
  .popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 500px;
    right: -100%;
    top: 80px;
    z-index: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .popup.open {
    right: 0%;
  }
  .popup .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .popup .menu > li {
    margin: 15px 0;
  }
  .block__img {
    width: 70vw;
  }
  .block__text {
    max-width: 80vw;
  }
  .block__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1000px;
    margin-right: 0;
    padding-right: 0;
  }
  .block__video {
    margin-right: 0;
    padding-right: 0;
  }
  .block__header {
    font-size: 10vw;
    line-height: 12vw;
  }
  .block__orange {
    font-size: 6vw;
  }
  .block__client-text {
    margin-left: auto;
    margin-bottom: 40px;
  }
  .services__text {
    display: block;
  }
  .client {
    margin-left: auto;
  }
  .footer {
    display: none;
  }
}